<center>
<div class="jumbotron text-center">
<h1>Internet of Things</h1>
<h3>Paul Johnson, Jacob Rodgers, Mike Tappan, Emily Glanz</h3>
</div>
Can virtual reality be used to lower a patient's blood pressure and heart rate in a hospital setting?
<br>

<% if @tests.blank? %>

<%= link_to :action => 'new', :controller => 'tests' do %>
New Test
<%end%>

<% else %>
<br>
<div class="btn-toolbar text-center">
<%= link_to :action => 'new', :controller => 'tests' do %>
New Test
<%end%>
<%= link_to :action => 'view_analytics', :controller => 'welcome' do %>
Get Analytics
<%end%>
</div>

<br>
<br>
<div.table>
<table class="table table-striped padded">
  <thead class="thead-default">
    <tr>
    <th> Test Id </th>
    <th> Patient Name </th>
    <th> Virtual Reality </th>
    <th> Baseline Heart Rate Average </th>
    <th> Test Heart Rate Average </th>
    <th> Baseline Blood Pressure Average</th>
    <th> Test Blood Pressure Average</th>
    </tr>
  </thead>
 
  <% @tests.each do |test| %>
    <tr>
      <td><%= test.id %></td>
      <td><%= test.patient_name %></td>
      <td><%= test.video %></td>
      <% if Heart.where(testid: test.id, bort: 1).first != nil %>
      <td><%= Heart.where(testid: test.id, bort: 1).first.average %></td>
      <%else%>
      <td>None</td>
      <%end%>
      <% if Heart.where(testid: test.id, bort: 2).first != nil %>
      <td><%= Heart.where(testid: test.id, bort: 2).first.average %></td>
      <%else%>
      <td>None</td>
      <%end%>
      <% if Bloodpressure.where(testid: test.id, bort: 1).first != nil %>
      <td><%= Bloodpressure.where(testid: test.id, bort: 1).first.average_systolic %>/<%= Bloodpressure.where(testid: test.id, bort: 1).first.average_diastolic %></td>
      <%else%>
      <td>None</td>
      <%end%>
      <% if Bloodpressure.where(testid: test.id, bort: 2).first != nil %>
      <td><%= Bloodpressure.where(testid: test.id, bort: 2).first.average_systolic %>/<%= Bloodpressure.where(testid: test.id, bort: 2).first.average_diastolic %></td>
      <%else%>
      <td>None</td>
      <%end%>
    </tr>
  <% end %>
</table>
</div>
<% end %>

<br>
<br>
<br>
</center>
<script>
  $('a').addClass('btn btn-info');
</script>

