<div id="dataValue" style="font-size:10pt;" data-remote="true" >
    <h2>Baseline Heart Rate:</h2>
    <br>
    Average:<br>
    <%= @average_baseline_heart %>
    <br>
    <br>
    Minimum:<br>
    <%= @minimum_baseline_heart %>
    <br>
    <br>
    Maximum:<br>
    <%= @maximum_baseline_heart %>
    <br>
    <br>
    <h2>Baseline Blood Pressure:</h2>
    <br>
    Average Systolic:<br>
    <%= @average_sbaseline_blood %>
    <br>
    <br>
    Minimum Systolic:<br>
    <%= @minimum_sbaseline_blood %>
    <br>
    <br>
    Maximum Systolic:<br>
    <%= @maximum_sbaseline_blood %>
    <br>
    <br>
    Average Diastolic:<br>
    <%= @average_dbaseline_blood %>
    <br>
    <br>
    Minimum Diastolic:<br>
    <%= @minimum_dbaseline_blood %>
    <br>
    <br>
    Maximum Diastolic:<br>
    <%= @maximum_dbaseline_blood %>
    <br>
    <br>
</div>