<div id="dataValue" style="font-size:10pt;" data-remote="true" >
    <h2>Baseline Heart Rate:</h2>
    <br>
    Average:<br>
    <%= @average_baseline_heart %>
    <br>
    <br>
    Minimum:<br>
    <%= @minimum_baseline_heart %>
    <br>
    <br>
    Maximum:<br>
    <%= @maximum_baseline_heart %>
    <br>
    <br>
    <h2>Baseline Blood Pressure:</h2>
    <br>
    Average:<br>
    <%= @average_baseline_blood %>
    <br>
    <br>
    Minimum:<br>
    <%= @minimum_baseline_blood %>
    <br>
    <br>
    Maximum:<br>
    <%= @maximum_baseline_blood %>
    <br>
    <br>
</div>